
.row

  .xsmall-12.small-12.medium-12.large-4.xlarge-12.columns
    %dl

      %dt Project
      %dd= project_title


      %dt Client
      %dd DoubleDown Interactive

      %dt Agency
      %dd 206inc

      %dt URL
      %dd
        %a{href: 'http://www.doubledowninteractive.com/', target: '_blank'} doubledowninteractive.com

  .xsmall-12.small-12.medium-12.large-8.xlarge-12.columns
    %dl

      %dt Role
      %dd Lead Developer

      %dt Description
      %dd Responsible for defining project architecture, implementing technical specifications, building the site, and deploying to the client's hosting platform.