
.row.collapse
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a
      %img{:src => "http://placehold.it/360x270"}/
