
.row.collapse
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/denizen"}
      %img{:src => "images/projects/denizen/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/206"}
      %img{:src => "images/projects/206/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/toyota-rav4-ev"}
      %img{:src => "images/projects/toyota_rav4_ev/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/doubledown"}
      %img{:src => "images/projects/doubledown/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/kindle-marvel"}
      %img{:src => "images/projects/kindle_marvel/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/coca-cola-unbottled"}
      %img{:src => "images/projects/coca_cola_unbottled/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/alexander-wang"}
      %img{:src => "images/projects/alexander_wang/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/jack-spade"}
      %img{:src => "images/projects/jack_spade/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/buddy-media"}
      %img{:src => "images/projects/buddy_media/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/kate-spade"}
      %img{:src => "images/projects/kate_spade/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/americana-manhasset"}
      %img{:src => "images/projects/americana_manhasset/360x270.jpg"}/
  .xsmall-12.small-6.medium-6.large-4.xlarge-3.columns
    %a{:href => "projects/neiman-marcus"}
      %img{:src => "images/projects/neiman_marcus/360x270.jpg"}/
