
%header
  .row
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          / %h1
          /   %a{href: "#"}
          /     Top Bar Title
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.left
          %li.has-dropdown
            %a{href: "/"} Projects

            %ul.dropdown

              %li.has-dropdown
                %a{href: "#"} All
                %ul.dropdown
                  %li
                    %a{href: "#"} 206
                  %li
                    %a{href: "#"} Alexander Wang
                  %li
                    %a{href: "#"} Americana Manhasset
                  %li
                    %a{href: "#"} Coca-Cola Unbottled
                  %li
                    %a{href: "#"} Denizen
                  %li
                    %a{href: "#"} DoubleDown
                  %li
                    %a{href: "https://www.npmjs.org/package/grunt-ejs-static", target: "_blank"} Grunt EJS Static
                  %li
                    %a{href: "#"} Jack Spade
                  %li
                    %a{href: "https://github.com/shaekuronen/jquery.flexloader", target: "_blank"} jQuery Flexloader
                  %li
                    %a{href: "#"} Kate Spade
                  %li
                    %a{href: "#"} Kindle Marvel
                  %li
                    %a{href: "#"} Neiman Marcus

              %li.has-dropdown
                %a{href: "#"} Open Source
                %ul.dropdown
                  %li
                    %a{href: "https://www.npmjs.org/package/grunt-ejs-static", target: "_blank"} Grunt EJS Static
                  %li
                    %a{href: "https://github.com/shaekuronen/jquery.flexloader", target: "_blank"} jQuery Flexloader

              %li.has-dropdown
                %a{href: "#"} Responsive
                %ul.dropdown
                  %li
                    %a{href: "#"} 206
                  %li
                    %a{href: "#"} Coca-Cola Unbottled
                  %li
                    %a{href: "#"} Denizen
                  %li
                    %a{href: "#"} DoubleDown


              %li.has-dropdown
                %a{href: "#"} Mobile Optimized
                %ul.dropdown
                  %li
                    %a{href: "#"} 206
                  %li
                    %a{href: "#"} DoubleDown
                  %li
                    %a{href: "#"} Kindle Marvel

              %li.has-dropdown
                %a{href: "#"} CMS
                %ul.dropdown
                  %li
                    %a{href: "#"} Coca-Cola Unbottled
                  %li
                    %a{href: "#"} DoubleDown

              %li.has-dropdown
                %a{href: "#"} Facebook
                %ul.dropdown
                  %li
                    %a{href: "#"} Alexander Wang
                  %li
                    %a{href: "#"} Jack Spade
                  %li
                    %a{href: "#"} Kate Spade

              %li.has-dropdown
                %a{href: "#"} Tumblr
                %ul.dropdown
                  %li
                    %a{href: "#"} Americana Manhasset
                  %li
                    %a{href: "#"} Neiman Marcus
