
.flexslider

  %ul.slides

    %li
      %span{"data-alt" => "Description here...", "data-picture" => ""}
        %span{"data-original" => "http://placehold.it/360x202", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(max-width: 360px)", "data-original" => "http://placehold.it/360x202", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 361px) and (max-width: 540px)", "data-original" => "http://placehold.it/540x305", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 541px) and (max-width: 720px)", "data-original" => "http://placehold.it/720x405", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 721px)", "data-original" => "http://placehold.it/900x506", "data-src" => "images/global/1x1.gif"}
        %noscript
          %img{:alt => "Description here...", :src => "http://placehold.it/360x202"}

    %li
      %span{"data-alt" => "Description here...", "data-picture" => ""}
        %span{"data-original" => "http://placehold.it/360x202", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(max-width: 360px)", "data-original" => "http://placehold.it/360x202", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 361px) and (max-width: 540px)", "data-original" => "http://placehold.it/540x305", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 541px) and (max-width: 720px)", "data-original" => "http://placehold.it/720x405", "data-src" => "images/global/1x1.gif"}
        %span{"data-media" => "(min-width: 721px)", "data-original" => "http://placehold.it/900x506", "data-src" => "images/global/1x1.gif"}
        %noscript
          %img{:alt => "Description here...", :src => "http://placehold.it/360x202"}

    / %li
    /   %span{"data-alt" => "Description here...", "data-picture" => ""}
    /     %span{"data-original" => "http://placehold.it/360x270", "data-src" => "images/global/1x1.gif"}
    /     %span{"data-media" => "(max-width: 360px)", "data-original" => "http://placehold.it/360x270", "data-src" => "images/global/1x1.gif"}
    /     %span{"data-media" => "(min-width: 361px) and (max-width: 540px)", "data-original" => "http://placehold.it/540x405", "data-src" => "images/global/1x1.gif"}
    /     %span{"data-media" => "(min-width: 541px) and (max-width: 720px)", "data-original" => "http://placehold.it/720x405", "data-src" => "images/global/1x1.gif"}
    /     %span{"data-media" => "(min-width: 721px)", "data-original" => "http://placehold.it/900x450", "data-src" => "images/global/1x1.gif"}
    /     %noscript
    /       %img{:alt => "Description here...", :src => "http://placehold.it/360x270"}
