---
title: Shae Kuronen
---

= partial('partials/header')

.row
  .xsmall-12.small-12.medium-12.large-12.xlarge-9.columns
    = partial('partials/slideshow')

  .xsmall-12.small-12.medium-12.large-12.xlarge-3.columns
    %h5 TEST